<div class="section-container" id="faq">
  <div class="text-header">
    Frequently Asked Questions
  </div>
  <div class="faq-container">
    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="When is the official mint date">The official date is yet to be confirmed. Be sure to follow us on our social media channels to ensure you dont miss the announcement.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How many Dragon Evolution NFT's are being launched?">A limited amount of Dragon Evolution NFT's will be confirmed prior to the mint date</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How does the Dragon Evolution NFT's work?">Upon the initial mint you will be able to mint a Dragon Egg and over time this Egg will evolve into a baby dragon and then into a full adult dragon. Dragons will go through a total of 5 evolutionary stages. Eggs will hatch into dragons bearing various unique characteristics.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How can I use my Dragon Evolution NFT?">Your Dragon Evolution NFT will have many utilities you would be glad to have. Aside from our incredible Egg and Dragon design that will put us on the map, we are so much more than that. Starting from our unique community building approach featuring live quests and events, we are further looking at collaborations. Do you want to be a part of the Metaverse? We have big plans for that so stay updated on our social media and you will find out soon.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="Do you have a whitelist?">Yes whitelist allocation will be based on early adopters who help create the community and participate in the quests and earn XP.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How does the XP work?">XP is earned through completion of challenges, each challenge has a cvertain quantum of XP assigned to it. Once a quest is completed, submit your proof and claim your XP points.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How do I earn money?">There will be a leaderboard based on XP points earned. The top 100 earners will win their share of the initial prize pool which ranges up to $200,000. Quests for the initial prize pool will run up until the initial mint,  the top 100 at that point will be elligible for the payout. Subsequently new prize pools will be established to provide constant opportunities for our community to partake in the success of Dragon Evolution.</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="How do the quests work?">Quests will run Tuesday to Friday every week. There will be a series of Quests to be completed.
        <br/>
        <br/>
        Points for the week will be tallied up and released on the Sunday through the leaderboard. First person to complete all Quests for a given week gets an additional 10XP.
        <br/>
        <br/>
        A weekly draw will be held for everyone who completed all the Quests that week to win an NFT</app-accordion-item>
      </app-accordion>
    </div>

    <div class="accordion">
      <app-accordion>
        <app-accordion-item title="Want to contact us directly?">Erwin: erwin@dragonevolution.io <br /> Richard: richard@dragonevolution.io <br /> Hercules: hercules@dragonevolution.io <br /> Matthew: matthew@dragonevolution.io <br /> Zandria: zandria@dragonevolution.io</app-accordion-item>
      </app-accordion>
    </div>

  </div>
</div>





