.faq-container {
  text-align: center;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.6em;
}

.accordion {
  margin-bottom: 50px;
  padding: 14px 30px 14px;
  border-radius: 10px;
  background-color: #2f363e;
  box-shadow: 0 3px 7px 0 rgb(0 0 0 / 3%);
  color: #13151d;
}
