<div class="header-container" #container >
  <header class="header" #header appResizeDetector>
    <img href="top" class="img-theme" src="../assets/images/dragon-evolution-logo1.png" />

    <nav class="navbar" #navbar>
      <a [routerLink]="'/dragonevolution'" (click)="onToggleMenu()" fragment="story"> Story</a>
      <a [routerLink]="'/dragonevolution'" (click)="onToggleMenu()" fragment="roadmap"> Roadmap</a>
      <a [routerLink]="'/dragonevolution'" (click)="onToggleMenu()" fragment="timeline"> Timeline</a>
      <a [routerLink]="'/dragonevolution'" (click)="onToggleMenu()" fragment="team"> Team</a>
      <a [routerLink]="'/dragonevolution'" (click)="onToggleMenu()" fragment="faq"> FAQ</a>
    </nav>

    <div class="icons">
      <a class="logo menu"><img class="twitter" (click)="onToggleMenu()" src="../assets/images/Menu.png" /></a>
      <a class="logo"  href="https://twitter.com/DragonEvo_NFT?s=20&t=J1U-JOqCKDLKsn_kk0hDOg"><img class="twitter" src="../assets/images/Twitter.png" /></a>
      <a class="logo" href="https://t.me/+rtC-zsiAvbJiNDNk"><img class="telegram" src="../assets/images/Telegram.png" /></a>
      <a class="logo" href="https://discord.gg/3fme3Fju4w"><img class="discord" src="../assets/images/Discord.png" /></a>
      <a class="logo" href="https://www.instagram.com/dragonevo_nft/"><img class="discord" src="../assets/images/Instagram.png" /></a>
    </div>
  </header>
</div>

