.navbar a{
  font-size: 1.5vmax;
  font-family: Inter, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 1rem 0 1rem;
}

.navbar{
    margin-bottom: 0;
}

.logo {
  padding: 0 2rem 0 2rem;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: #12141d;
}


.header .navbar{
    color: #fff;
   
}

.navbar a:hover {
  
  font-size: 28px;
  color: #fff;
}

.header .icons div{
    margin-left: 1.7rem;
    cursor: pointer;
}

.twitter, .discord, telegram {
  max-width: 40px;
}

.img-theme {
  width: 20%;
  height: auto;
  max-height: 250px !important;
}

@media(max-width: 991px)
{
    .header{
        padding: 2rem;
    }
}


.menu {
  display: none;
}

@media(max-width: 1100px) {
  .header .navbar{
    position:absolute;
    top: 99%;
    left:0;
    right:0;
    clip-path: polygon(0 0, 100% 0, 0 0);
  }

    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      background-color: #12141d;
    }

  .header .navbar a{
      margin: 1.5rem;
      padding: 1.5rem;
      font-size: 2rem;
      display: block;

  }

  .logo {
    display:none;
  }

  .menu {
    display:contents;
  }
}
