<div class="container-fluid">
  <div class="footer-container">
    <div class="text-block">
      JOIN
      <span class="thin-span">THE&nbsp;COMMUNITY</span>
    </div>

    <div class="row">

      <div class="col-md-12 text-center">

        <a href="https://discord.gg/3fme3Fju4w"><img class="discord responsive" src="../assets/images/Discord.png" /></a>
        <a class="logo" href="https://twitter.com/DragonEvo_NFT?s=20&t=J1U-JOqCKDLKsn_kk0hDOg"><img class="twitter responsive" src="../assets/images/Twitter.png" /></a>
        <a class="logo" href="https://t.me/+rtC-zsiAvbJiNDNk"><img class="telegram " src="../assets/images/Telegram.png" /></a>
        <a class="logo" href="https://www.instagram.com/dragonevo_nft/"><img class="instagram " src="../assets/images/Instagram.png" /></a>
      </div>
    </div>
  </div>
  
   
</div>

