.text-block {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.35em;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
  line-height: 1.35em;
  letter-spacing: -0.03em;
}

.thin-span {
  font-weight: 400;
  text-align: center;
}

.logo{
    padding-left: 20px;
}

.footer-container{
    padding-bottom: 50px;
}

.twitter, .discord, .telegram, .instagram {
  max-width: 40px;
}
