.button-inverted {
  border-color: #fff;
  border-radius: 8px;
  background-color: #2f363e;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
}

.glyphicon {
  color: #eaa023;
}

.button {
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.6em;
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  border: 6px solid transparent;
}

.episode-button {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 1.6em;
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  border: 6px solid transparent;
  color: #eaa023;
  text-transform: uppercase;
}

.button-container {
  padding-top: 25px;
}

.carousel {
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 1600px) {
  .carousel {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 1200px) {
  .carousel {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


.button:hover, .episode-button:hover {
  border: 6px solid #fff;
}

.button-left {
  margin-right: 25px;
}

.episode-selectors{
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.carousel-container {
  padding: 10vh 10vw 28vh 10vw;
}


@media(max-width: 1200px) {
  .carousel-container {
    padding: 5vh 5vw 5vh 5vw;
  }

}
