<div class="carousel-container" id="story">
    <div class="text-header">
      Story: Episode {{selectedEpisode}}
    </div>

      <div id="carouselExampleControls" class="carousel responsive slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <img class="img-responsive" src="{{ showSlide(slides, i) }}" alt="slide">
        </div>

        <div class="col-md-12 text-center button-container">
          <button type="button" class="button button-left" (click)="getPrev(slides, i)"><span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
          <button type="button" class="button" (click)="getNext(slides, i)"><span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

          <div class="episode-selectors">
            <button class="episode-button" (click)="changeEpisode(1)">Episode 1</button>
          </div>
          <div class="episode-selectors">
            <button class="episode-button" (click)="changeEpisode(2)">Episode 2</button>
          </div>
        </div>
        </div>
</div>




