.intro-container {
  padding: 3vh 10vw 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.5vmax;
  line-height: 1.6em;
  padding-bottom: 2vh;
}

.button-inverted {
  text-align: center;
  margin-top: 15px;
  padding: 2vmax 3vmax 2vmax 3vmax;
  border-style: none;
  border-width: 2px;
  border-color: #fff;
  border-radius: 8px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-items: center;
}

.responsive {
  max-width: 100%;
  height: auto;
}

@media(max-width: 1000px) {
  .button-inverted {
    font-size: 9px;
  }
}


.discord {

  background-color: #5869e9;
}

.discord-logo {
  padding-left: 2.5vw;
}
