<div class="app-container" id="main">

  <div class="image-container">

    <img class="responsive" src="../assets/images/map.jpg" />

  </div>


  <div class="intro-container">
    <div class="intro">
      A unique NFT project where your dragon will be the focus of a mythical immersive story and evolve with it.
      <br />
      <br />
      5 chapters, 5 dragon evolutions and Real Life Play to Earn Quests.


      <br />
      <br />
      Join our Discord to start your quest.
    </div>
    <div>
      <br />
      <a href="https://t.me/+rtC-zsiAvbJiNDNk" class="button-inverted discord">
        Join our Discord
        <img class="discord-logo" src="../assets/images/Discord.png" />
      </a>
    </div>
  </div>

  <app-carousel></app-carousel>

  <app-vertical-timeline></app-vertical-timeline>
  <app-utilities></app-utilities>

  <app-team></app-team>

  <app-faq></app-faq>

  <app-footer></app-footer>
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{671227320823339}');
  </script>
</div>

