.text-header-quest{
    padding-top: 5vh;
}
.utilities-body {
  font-size: 1.3vmax;
  font-weight: 500;
  letter-spacing: 0.005em;
  color: #ffffff;


}

.utilities-heading {
  text-align: center;
  color: #eaa023;
  padding: 25px 0 25px 0;
  font-size: 2.5vmax;
  margin-bottom: 0px;
  line-height: 1.3em;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.quest-container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.quest-text {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.5vmax;
  line-height: 1.6em;
}


.quest {
  align-content: center;
  background-color: green;
  max-width: 250px;
}
