<div class="section-container" id="timeline">
  <div class="text-header">
    Timeline
  </div>
  <div class="utilities-heading">
    Q2 2022
    <div class="utilities-body">
      Chapter 1 story release
    </div>
    <div class="utilities-body">
      Individual quests to earn XP
    </div>
    <div class="utilities-body">
      Weekly leaderboard updates
    </div>
    <div class="utilities-body">
      Live events TBC
    </div>
    <div class="utilities-body">
      Egg NFT mint
    </div>
  </div>

    <div class="utilities-heading">
      Q3 2022
      <div class="utilities-body">
        Coming soon ...
      </div>
    </div>

    <div class="text-header text-header-quest">
      Weekly Quests
    </div>
    <div class="quest-container">
      <div  serclass="quest-text">
       
      </div>
      <a href="https://forms.gle/vRtRyZ8wmGySjXKV7" class="button-inverted quest">
          Quest 3 is live!
        <br/>
        <br/>
        Click here to join the Quest!
        
      </a>
    </div>
</div>
