<div class="accordion-header" (click)="onToggle()">
  <div class="header-title">
    <h1 class="faq-title">
      {{title}}
    </h1>
  </div>
  <div [@rotatedState]="!showBody? 'default' : 'rotated'" class="arrow"><i class="ion-ios-arrow-down"> </i></div>
</div>

<div [@smoothCollapse]="!showBody? 'initial' : 'final' ">
    <div class="accordion-body">
      <ng-content></ng-content>
    </div>
</div>


  


