@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

.accordion-header{
    min-height:30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px;
}

.header-title{
    overflow-wrap: break-word;
    overflow: auto; 
    width: 100%;
    font-weight: 900;
}

.faq-title {
  font-size: 2vmax;
}

.accordion-body {
  font-size: 1.5vmax;
  min-height: 30px;
  padding: 10px;
  text-align: center;
  line-height: 5rem;

}


@media(max-width: 1200px) {
  .accordion-body {
    font-size: 1.5vmax;
    min-height: 30px;
    padding: 10px;
    text-align: center;
    line-height: 2.5rem;
  }
}

.arrow {
  font-size: 18px;
  color: #eaa023;
}
