<div class="landing-page">

     <img class="img-responsive centered" src="../assets/images/LandingPage2.jpg" />

     <div class="intro-container">
       <div class="intro">
         A unique NFT project where your dragon will be the focus of a mythical immersive story and evolve with it.
         <br />
         <br />
         5 chapters, 5 dragon evolutions and Real Life Play to Earn Quests.
       </div>
       <div>
         <br />
         <button class="button-inverted enter" [routerLink]="'/dragonevolution'">
           Enter
         </button>
       </div>
     </div>

     <div class="footer">
       <app-footer></app-footer>
     </div>
</div>
