.landing-page {
  background-color: #12141d;
  min-height: 1000px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer {
  padding-top: 10vh;
}

.enter {
  background-color: #2f363e;
  padding-left: 2.5vw;
}
