/* You can add global styles to this file, and also import other style files */
.text-header {
  text-align: center;
  margin-bottom: 0px;
  font-size: 4vmax;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-bottom: 5vh;
}

.app-container {
  background-color: #12141d;
  font-family: Arial, Helvetica, sans-serif;
}

.section-container{
    padding: 10vh 10vw 10vh 10vw;
}

.intro-container {
  padding: 3vh 10vw 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.5vmax;
  line-height: 1.6em;
}

.button-inverted {
  text-align: center;
  margin-top: 2vh;
  padding: 1vmax 2vmax 1vmax 2vmax;
  border-style: none;
  border-width: 2px;
  border-color: #fff;
  border-radius: 8px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-items: center;
}


@media(max-width: 1200px) {
  .section-container {
    padding: 5vh 5vw 5vh 5vw;
  }

  .text-header {
    padding-bottom: 2.5vh;
  }
}

* {
  box-sizing: border-box;
}
