
.avatar-container {
  text-align: center;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6em;
}

h2{
    font-weight: 600;
    text-transform: uppercase;
}

img{
  width:80%;
}

.team {
  font-weight: 700;
  margin-top: 25px;
  margin-bottom:25px;
  font-size: 24px;
  text-align: center;
}


.discord {
  max-height: 45px;
  max-width: 45px;
  padding: 10px 5px 0 5px;
}

.twitter {
  max-height: 45px;
  max-width: 45px;
  padding: 10px 5px 0 5px;
}

.row {
  margin-right: 0px !important;
}

.team-description {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.5vmax;
  line-height: 1.6em;
}


@media(max-width: 1200px) {
  .team-container {
    padding: 5vh 5vw 10vh 5vw;
  }

 
}
