<div class="team-container" id="team">
  <div class="text-header">
    The Team
    <div class="team-description">
      Team full doxxed and transparent. No hiding behind anonymity.
    </div>
  </div>
 
  <div class=" avatar-container">

    <div class="row col-lg-offset-2">
      <div class="col-xs-12 col-md-6 col-lg-2 team">
        <img src="../assets/images/avatars/Erwin.jpg" />
        <div>
          <div>
            <h1>Erwin</h1>
            <h4>Founder/Marketing Director</h4>
          </div>
          <a href="https://www.instagram.com/erwinkayser"><img class="discord" src="../assets/images/Instagram.png" /></a>
          <a class="logo" href="https://twitter.com/kayser_erwin"><img class="twitter" src="../assets/images/Twitter.png" /></a>
        </div>
      </div>


      <div class="col-xs-12 col-md-6 col-lg-2 team">
        <img src="../assets/images/avatars/Richard.jpg" />
        <div>

          <div>
            <h1>Richard</h1>
            <h4>Co-Founder/Project Manager</h4>
          </div>
          <a href="https://www.instagram.com/rswallie"><img class="discord" src="../assets/images/Instagram.png" /></a>
          <a class="logo" href="https://twitter.com/rwallie"><img class="twitter" src="../assets/images/Twitter.png" /></a>

        </div>
      </div>

      <div class="col-xs-12  col-md-6 col-lg-2 team">
        <img src="../assets/images/avatars/Hercules.jpg" />
        <div>
          <div>
            <h1>Hercules</h1>
            <h4>Web/Blockchain Developer</h4>
          </div>
          <a href="https://www.instagram.com/herculesstrydom.eth/"><img class="discord" src="../assets/images/Instagram.png" /></a>
          <a class="logo" href="https://twitter.com/hercules_stry"><img class="twitter" src="../assets/images/Twitter.png" /></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-2 team">
        <img src="../assets/images/avatars/Matthew.jpg" />
        <div>
          <div>
            <h1>Matthew</h1>
            <h4>Head Artist/Lead Designer</h4>
          </div>
          <a href="https://www.instagram.com/mr_strobeck"><img class="discord" src="../assets/images/Instagram.png" /></a>
          <a class="logo" href="https://twitter.com/matt01206"><img class="twitter" src="../assets/images/Twitter.png" /></a>
        </div>
      </div>


      <div class="col-xs-12 col-md-6 col-lg-2 team">
        <img src="../assets/images/avatars/Zandria.jpg" />
        <div>
          <div>
            <h1>Zandria</h1>
            <h4>Community Builder/Discord Manager</h4>
          </div>
          <a href="https://www.instagram.com/zarafromafar"><img class="discord" src="../assets/images/Instagram.png" /></a>
        </div>
      </div>



    </div>
  </div>
</div>
