
  
<div class="section-container" id="roadmap">
  <div class="timeline-container">

    <div class="text-header roadmap">
      Roadmap
    </div>
    <div class="timeline-items">

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Immersive storyline as your dragons evolve
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Play-to-earn real life quests
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Earn XP and move up the leaderboard
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Live events
          </h3>
        </div>
      </div>


      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Story line NFT mint (Design to be revealed soon)
          </h3>
        </div>
      </div>


      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Multi-phase minting with your dragon evolving
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Clan Communities and Clan Quests
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Dragon level-ups (NFT customization)
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Metaverse partnerships
          </h3>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>
            Studio partnerships
          </h3>
        </div>
      </div>


    </div>
  </div>
</div>
