*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.section-container {
  padding: 15vh 0 5vh 0;
}

.roadmap{
    padding-bottom: 5vh;
}

.timeline-container {
  min-height: 100vh;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}


.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position:relative;
}

.timeline-item:hover {
  transform: scale(1.2);
}

.timeline-item:last-child {
  margin-bottom: 0;

}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot{
    height:16px;
    width:16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}


.timeline-content{
    padding: 30px;
    border-radius: 20px;
    background-color: #2f363e;
}

  .timeline-content h3 {
    font-size: 1.3vmax;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    text-align:center;
  }


@media(max-width: 900px){

  .timeline-content {
    font-size: 20px;
    padding: 30px;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(odd){
    text-align: center;
  }

}
